create database `seeds-admin` default character set utf8mb4 collate utf8mb4_0900_ai_ci;
create database `seeds-uc` default character set utf8mb4 collate utf8mb4_0900_ai_ci;
create database `seeds-account` default character set utf8mb4 collate utf8mb4_0900_ai_ci;
create database `seeds-wallet` default character set utf8mb4 collate utf8mb4_0900_ai_ci;
