[client]
port=3306

[mysqld]
port=3306

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
default-authentication-plugin=mysql_native_password
lower_case_table_names=1
max_connections=1000
# 跳过验证密码
#skip-grant-tables

log_bin=/var/lib/mysql/mysql-bin
binlog_format=STATEMENT
expire_logs_days=7
max_binlog_size=220M
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/localhost-slow.log 
long_query_time=3
log_output=FILE